

html, body, .content{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}


.content{


  display: grid;

  grid-template-rows: 10vh 1fr;

  


}

.top-panel{

  background-color: rgb(236, 55, 55);



}

.bottom-panel{
  background-color: green;



}


.left-panel{
  background-color: black;
  color:white;



}


.right-panel{

  background-color: aqua;



}