

html, body, .content{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

h1, h2, p {
  text-align: center;
}

.headshot{
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.content{


  display: grid;

  grid-template-rows: 15vh 1fr;

  


}


.content, .bottom-panel, .top-panel, .right-panel, .left-panel {

  border: 1px solid black;

  border-collapse: collapse;


}


.bottom-panel{

  display: grid;
  grid-template-columns: 15vw 1fr;



}


.left-panel{

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;



}


.right-panel{

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;



}

.top-panel, .left-panel{

  background-color: rgb(216, 216, 216);



}



.top-panel{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;



}

.nav-item{

  
  text-decoration: none;
  color: black;
  transition: all ease-in-out 150ms;

}

.nav-item:hover{
  scale: 1.5;
}