

html, body, .content{
  margin: 0;
  padding: 0;
  
}

h1 {
  text-align: center;
}

.content{


  display: grid;

  grid-template-rows: 15vh 1fr;

  


}

.top-panel{

  background-color: rgb(236, 55, 55);



}

.bottom-panel{
  background-color: green;

  display: grid;
  grid-template-columns: 15vw 1fr;



}


.left-panel{
  background-color: black;
  color:white;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;



}


.right-panel{

  background-color: aqua;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;



}